body {
  padding: 0px;
  margin: 0px;
}

.lookUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  top: 2%;
  left: 50%;

  position: absolute;
  transform: translate(-50%, 0%);
  font-size: x-large;
}

.checkP {
  color: rgba(109, 77, 252, 0.95);
  font-size: x-large;
}

@media screen and (max-width: 680px) and (min-width: 300px) {
  .lookUp {
    width: 60%;
    font-size: 0.5rem;
  }
  p.checkP {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 812px) and (min-width: 450px) {
  .checkP {
    width: 95%;
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (width: 320px) {
  .checkP {
    text-align: center;
  }
}

@media screen and (width: 768px) {
  .checkP {
    text-align: center;
  }
}
