.footerDiv {
    box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 310%;
  width: 100vw;
  margin: 0;
    height: 30vh;
  background-color: rgb(52, 58, 66);
}

.h1footer {
    padding-top: 20px;
    color: whitesmoke;
}