@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  top: 110%;
  border-top: 0px;
  height: 90vh;
  width: auto;
  position: absolute;
  /* animation: mymove 5s 1; */
}

.projectsTitle {
  font-family: 'Gravitas One', cursive;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 10px;
  margin-top: 0px;
}

/* @keyframes mymove {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
} */