.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  margin-right: 20px;
  left: 50%;
  transform: translate(-50%);
  top: 120%;
  width: 90%;
  position: absolute;
  padding-bottom: 70px;
  margin-top: 60px;
}

.grid-item {
  text-align: center;
  font-size: 1.5rem;
}

img {
  width: 25vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 10px;
}

img:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.p {
  font-size: 1rem;
}

@media (max-width: 700px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 80vw;
    height: 40vh;
  }
}

body {
  padding: 0px;
  margin: 0px;
}

.footerDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  padding-top: 5px;
  margin: 0;
  margin-bottom: 0;
  background: linear-gradient(
    to right,
    rgba(193, 82, 245, 0.95),
    rgba(109, 77, 252, 0.95)
  );
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 8.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.h1footer {
  color: whitesmoke;
  font-size: x-large;
  margin-bottom: 0;
}

.fontAwesome a {
  padding: 5px;
  color: whitesmoke;
}

.awesomeIcon {
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 813px) {
  .grid-container {
    font-size: x-small;
  }
}
