@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

* {
  margin: 0;
  box-sizing: border-box;

}

body {
    font-family:'Vidaloka', serif;
}

#particles-js {
  position: relative;
  background: #fff;
  height: 100vh;
  z-index: -1;
}

.hero_title {
  background-color: rgb(118, 53, 221);
  margin: 0;
  z-index: 2;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000;
  font-size: 3rem;
}

.name {
  color: #424deb;
}

.you {
  color: red;
}

@media only screen and (max-width: 1025px) {
  h1 {
    font-size: 2.7rem;
    
  }
}
@media only screen and (max-width: 824px) {
  h1 {
    font-size: 1.8rem;
    
  }
}

@media only screen and (max-width: 813px) {
  h1 {
    font-size: 1.8rem;
    
  }
}

@media only screen and (max-width: 769px) {
  h1 {
    font-size: 2rem;
    
  }
}
@media only screen and (max-width: 732px) {
  h1 {
    font-size: 1.8rem;
    
  }
}

@media only screen and (max-width: 641px) {
  h1 {
    font-size: 1.6rem;
    
  }
}
@media only screen and (max-width: 569px) {
  h1 {
    font-size: 1.5rem;
    
  }
}

@media only screen and (max-width: 541px) {
  h1 {
    font-size: 1.4rem;
    
  }
}

@media only screen and (max-width: 415px) {
  h1 {
    font-size: 1rem;
    
  }
}

@media only screen and (max-width: 376px) {
  h1 {
    font-size: 1rem;
    
  }
}

@media only screen and (max-width: 361px) {
  h1 {
    font-size: 0.9rem;
    
  }
}
@media only screen and (max-width: 321px) {
  h1 {
    font-size: 0.8rem;
    
  }
}